<form method="post" action="login">
    <h2 id="modaltitle" class="uk-modal-title">היכנס למערכת</h2>
    <input id="username" type="text" placeholder="שם משתמש" class="uk-input login">
    <input id="password" type="password" placeholder="סיסמה" class="uk-input login">
    <input id="loginsubmit" value="הכנס" onclick="DoLogin()" type="button" style="width: 385px" class="uk-button uk-button-primary">
    <input id="registerrequest" value="הרשם" onclick="GetRegister()" type="button" style="width: 150px;background-color: green; color:white" class="uk-button">
</form>

