<form>
    <h2 id="modaltitle" class="uk-modal-title">רישום משתמש חדש</h2>
    <input id="username" type="text" value class="uk-input register" placeholder="שם משתמש">
    <input id="password" type="password" class="uk-input register" placeholder="סיסמה">
    <input id="aprovepassword" type="password" class="uk-input register" placeholder="אימות סיסמה">
    <input value="הרשם" onclick="DoRegister()" type="button" class="uk-width-1-1 uk-button uk-button-success">
</form>